<section class="app">
    <div class="container">
        <img class="app-image" src="~/images/phone-screens.svg" alt="app">

        <div class="app-text">
            <h1>Download Our App for Any Devices:</h1>

            <div class="app-link">
                <div class="app-rating">
                    <p>App Store</p>
                    <img class="star-image" src="~/images/stars.svg" alt="Star">
                </div>
                <div class="app-review">
                    <h4>Editor's Choice</h4>
                    <p>rating 4.7, 187K+ reviews</p>
                </div>
                <div>
                    <a class="app-btn" asp-action="Home" asp-controller="Default"><img class="app-image" src="~/images/appstore.svg" alt="App Store"></a>
                </div>
            </div>

            <div class="app-link">
                <div class="app-rating">
                    <p>Google Play</p>
                    <img class="star-image" src="~/images/stars.svg" alt="Star">
                </div>
                <div class="app-review">
                    <h4>App of the Day</h4>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>
                <div>
                    <a class="app-btn" asp-action="Home" asp-controller="Default"><img class="app-image" src="~/images/googleplay.svg" alt="Google Play"></a>
                </div>
            </div>
        </div>
    </div>
</section>
