<section class="elements">
    <div class="container">
        <img class="elements-image" src="~/images/dashboard.svg" alt="elements">

        <div class="elements-text">

            <h1>Manage your Work</h1>
            <ul>
            <li>Powerful project management</li>
            <li>Transparent work management</li>
            <li>Manage work & focus on the most important tasks</li>
            <li>Track your progress with interactive charts</li>
            <li>Easiest way to track time spent on tasks</li>
            </ul>
            <a class="learn-more-btn" asp-action="Home" asp-controller="Default">Learn more<i class="fa-regular fa-arrow-right"></i></a>

        </div>
    </div>
</section>

