<section class="integrate">
    <div class="container">

        <div class="section-title">
            <h1>Integrate Top Work Tools</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>

        <div class="integrate-tools">
            <div class="integrate-box">
                <img src="~/images/homepage-integrate/Google.svg" alt="Comments on Tasks">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>

            <div class="integrate-box">
                <img src="~/images/homepage-integrate/Zoom.svg" alt="Tasks Analytics">
                <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </div>

            <div class="integrate-box">
                <img src="~/images/homepage-integrate/Slack.svg" alt="Multiple Assignees">
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>

            <div class="integrate-box">
                <img src="~/images/homepage-integrate/Gmail.svg" alt="Notifications">
                <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
            </div>

            <div class="integrate-box">
                <img src="~/images/homepage-integrate/Trello.svg" alt="Sections & Subtasks">
                <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </div>

            <div class="integrate-box">
                <img src="~/images/homepage-integrate/Mailchimp.svg" alt="Data Security">
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>

            <div class="integrate-box">
                <img src="~/images/homepage-integrate/Dropbox.svg" alt="Data Security">
                <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </div>

            <div class="integrate-box">
                <img src="~/images/homepage-integrate/Evernote.svg" alt="Data Security">
                <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </div>
        </div>
    </div>
</section>
