<section class="segments">
    <div class="container">
        <div class="whole-segment">
            <div class="first-half">
                <h1>Switch Between</h1>
            </div>
            <div class="second-half">
                <h1>Light & Dark Mode</h1>
            </div>
        </div>
        <img class="segments-image" src="~/images/mockup.svg" alt="segment">
        <img class="segments-image" src="~/images/switch-button.svg" alt="segment">
    </div>
</section>